{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <div class="text-right">
        <a class="btn btn-primary" href="{{ url_for('store.create') }}">Add Store</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Stores</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Store URL</th>
                    <th>API Version</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% for store in stores %}
                <tr class="{% if store.active %}success{% else %}danger{% endif %}">
                    <td>{{ store.id }}</td>
                    <td>{{ store.url }}</td>
                    <td>{{ store.version }}</td>
                    <td>{% if store.active %}Active{% else %}Deactive{% endif %}</td>
                    <td>
                        {% if store.active %}
                        <a class="btn-sm btn-danger" href="{{ url_for('store.deactive_store', id=store.id) }}">Deactive</a>
                        {% else %}
                        <a class="btn-sm btn-success" href="{{ url_for('store.active_store', id=store.id) }}">Active</a>
                        {% endif %}
                        <a class="btn-sm btn-primary" href="{{ url_for('store.update', id=store.id) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if pagination %}
        {{ macros.pagination_widget(pagination, '.index') }}
    {% endif %}
{% endblock %}